{% include "django/forms/widgets/input.html" %}
<div>
{#    {% csrf_token %}#}
{#    <input type="file" id="imgfile" onchange="upload_img(this.files[0])" style="display: none">#}
  <div>请复制上方id作为图片名后上传
{#    <button type="button" style="padding: 5px 10px;border-radius: 5px;border: aqua 1px solid;background-color: darkturquoise" onclick="imgfile.click()">上传头像</button>#}


{#<script>#}
{#    function upload_img(file) {#}
{#       console.log(file)#}
{#        id = document.getElementById('id_id').value#}
{#        url ='img1/'+id+'/'#}
{##}
{#        let request =new XMLHttpRequest()#}
{#        request.open('post',url,true)#}
{#        request.onload= function () {#}
{#            if (request.status==200 && request.readyState==4){#}
{#                data = JSON.parse(request.responseText)#}
{#                document.getElementById('img1').value = data.path#}
{#            }#}
{#        };#}
{#        let  formdata = new  FormData()#}
{#        formdata.append('img1',file)#}
{#        request.send(formdata);#}
{##}
{##}
{#    }#}
{#</script>#}